name: functional-containerinfra
on:
  pull_request:
    paths:
      - '**containerinfra**'
  schedule:
    - cron: '0 0 */3 * *'
jobs:
  functional-containerinfra:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "master"
            openstack_version: "master"
            ubuntu_version: "22.04"
          - name: "bobcat"
            openstack_version: "stable/2023.2"
            ubuntu_version: "22.04"
          - name: "antelope"
            openstack_version: "stable/2023.1"
            ubuntu_version: "22.04"
          - name: "zed"
            openstack_version: "stable/zed"
            ubuntu_version: "20.04"
          - name: "yoga"
            openstack_version: "stable/yoga"
            ubuntu_version: "20.04"
          - name: "xena"
            openstack_version: "stable/xena"
            ubuntu_version: "20.04"
          - name: "wallaby"
            openstack_version: "stable/wallaby"
            ubuntu_version: "20.04"
          - name: "victoria"
            openstack_version: "stable/victoria"
            ubuntu_version: "20.04"
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: Deploy OpenStack ${{ matrix.name }} with Magnum and run containerinfra acceptance tests
    steps:
      - name: Checkout Gophercloud
        uses: actions/checkout@v4
      - name: Deploy devstack
        uses: EmilienM/devstack-action@v0.12.1
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            enable_plugin magnum https://github.com/openstack/magnum ${{ matrix.openstack_version }}
            enable_plugin barbican https://github.com/openstack/barbican ${{ matrix.openstack_version }}
            enable_plugin heat https://github.com/openstack/heat ${{ matrix.openstack_version }}
            GLANCE_LIMIT_IMAGE_SIZE_TOTAL=5000
            SWIFT_MAX_FILE_SIZE=536870.12.12
            KEYSTONE_ADMIN_ENDPOINT=true
            MAGNUMCLIENT_BRANCH=${{ matrix.openstack_version }}
          enabled_services: 'h-eng,h-api,h-api-cfn,h-api-cw'
      - name: Checkout go
        uses: actions/setup-go@v4
        with:
          go-version: '^1.20'
      - name: Run Gophercloud acceptance tests
        run: ./script/acceptancetest
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          ACCEPTANCE_TESTS_FILTER: "^.*containerinfra.*$"
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./script/collectlogs
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: functional-containerinfra-${{ matrix.name }}
          path: /tmp/devstack-logs/*
