name: functional-sharedfilesystems
on:
  pull_request:
    paths:
      - '**sharedfilesystems**'
  schedule:
    - cron: '0 0 */3 * *'
jobs:
  functional-sharedfilesystems:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "master"
            openstack_version: "master"
            ubuntu_version: "22.04"
            additional_services: "openstack-cli-server"
          - name: "caracal"
            openstack_version: "stable/2024.1"
            ubuntu_version: "22.04"
            additional_services: ""
          - name: "bobcat"
            openstack_version: "stable/2023.2"
            ubuntu_version: "22.04"
            additional_services: ""
          - name: "antelope"
            openstack_version: "stable/2023.1"
            ubuntu_version: "22.04"
            additional_services: ""
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: Deploy OpenStack ${{ matrix.name }} with Manila and run sharedfilesystems acceptance tests
    steps:
      - name: Checkout Gophercloud
        uses: actions/checkout@v4
      - name: Deploy devstack
        uses: EmilienM/devstack-action@e82a9cbead099cba72f99537e82a360c3e319c69
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            enable_plugin manila https://github.com/openstack/manila ${{ matrix.openstack_version }}
            # LVM Backend config options
            MANILA_SERVICE_IMAGE_ENABLED=False
            SHARE_DRIVER=manila.share.drivers.lvm.LVMShareDriver
            MANILA_ENABLED_BACKENDS=chicago,denver
            MANILA_BACKEND1_CONFIG_GROUP_NAME=chicago
            MANILA_BACKEND2_CONFIG_GROUP_NAME=denver
            MANILA_SHARE_BACKEND1_NAME=CHICAGO
            MANILA_SHARE_BACKEND2_NAME=DENVER
            MANILA_OPTGROUP_chicago_driver_handles_share_servers=False
            MANILA_OPTGROUP_denver_driver_handles_share_servers=False
            SHARE_BACKING_FILE_SIZE=32000M
            MANILA_DEFAULT_SHARE_TYPE_EXTRA_SPECS='snapshot_support=True create_share_from_snapshot_support=True revert_to_snapshot_support=True mount_snapshot_support=True'
            MANILA_CONFIGURE_DEFAULT_TYPES=True
            MANILA_INSTALL_TEMPEST_PLUGIN_SYSTEMWIDE=false
          enabled_services: "${{ matrix.additional_services }}"
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.22'
      - name: Run Gophercloud acceptance tests
        run: ./script/acceptancetest
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          PACKAGE: "./internal/acceptance/openstack/sharedfilesystems/..."
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./script/collectlogs
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-sharedfilesystems-${{ matrix.name }}-${{ github.run_id }}
          path: /tmp/devstack-logs/*
