name: functional-loadbalancer
on:
  pull_request:
    paths:
      - '**loadbalancer**'
  schedule:
    - cron: '0 0 */3 * *'
jobs:
  functional-loadbalancer:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "master"
            openstack_version: "master"
            ubuntu_version: "22.04"
            devstack_conf_overrides: |
              # ensure we're using a working version of setuptools
              if [ -n "\$TOP_DIR" ]; then
                sed -i 's/setuptools\[core\]$/setuptools[core]==79.0.1/g' \$TOP_DIR/lib/infra \$TOP_DIR/inc/python
                sed -i 's/pip_install "-U" "pbr"/pip_install "-U" "pbr" "setuptools[core]==79.0.1"/g' \$TOP_DIR/lib/infra
              fi
            additional_services: "openstack-cli-server"
          - name: "dalmatian"
            openstack_version: "stable/2024.2"
            ubuntu_version: "22.04"
            additional_services: "openstack-cli-server"
          - name: "caracal"
            openstack_version: "stable/2024.1"
            ubuntu_version: "22.04"
            additional_services: ""
          - name: "bobcat"
            openstack_version: "stable/2023.2"
            ubuntu_version: "22.04"
            additional_services: ""
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: Deploy OpenStack ${{ matrix.name }} with Octavia and run loadbalancer acceptance tests
    steps:
      - name: Checkout Gophercloud
        uses: actions/checkout@v4
      - name: Deploy devstack
        uses: gophercloud@devstack-action@v0.17
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            enable_plugin octavia https://github.com/openstack/octavia ${{ matrix.openstack_version }}
            enable_plugin neutron https://github.com/openstack/neutron ${{ matrix.openstack_version }}

            ${{ matrix.devstack_conf_overrides }}
          enabled_services: "octavia,o-api,o-cw,o-hk,o-hm,o-da,neutron-qos,${{ matrix.additional_services }}"
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.22'
      - name: Run Gophercloud acceptance tests
        run: ./script/acceptancetest
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          PACKAGE: "./internal/acceptance/openstack/loadbalancer/..."
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./script/collectlogs
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-loadbalancer-${{ matrix.name }}-${{ github.run_id }}
          path: /tmp/devstack-logs/*
