name: functional-containerinfra
on:
  pull_request:
    paths:
      - '**containerinfra**'
  schedule:
    - cron: '0 0 * * *'
jobs:
  functional-containerinfra:
    strategy:
      fail-fast: false
      matrix:
        name: ["master"]
        openstack_version: ["master"]
        ubuntu_version: ["20.04"]
        include:
          - name: "yoga"
            openstack_version: "stable/yoga"
            ubuntu_version: "20.04"
          - name: "xena"
            openstack_version: "stable/xena"
            ubuntu_version: "20.04"
          - name: "wallaby"
            openstack_version: "stable/wallaby"
            ubuntu_version: "20.04"
          - name: "victoria"
            openstack_version: "stable/victoria"
            ubuntu_version: "20.04"
          - name: "ussuri"
            openstack_version: "stable/ussuri"
            ubuntu_version: "18.04"
          - name: "train"
            openstack_version: "stable/train"
            ubuntu_version: "18.04"
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: Deploy OpenStack ${{ matrix.name }} with Magnum and run containerinfra acceptance tests
    steps:
      - name: Checkout Gophercloud
        uses: actions/checkout@v3
      - name: Deploy devstack
        uses: EmilienM/devstack-action@v0.9
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            enable_plugin barbican https://opendev.org/openstack/barbican ${{ matrix.openstack_version }}
            enable_plugin heat https://opendev.org/openstack/heat ${{ matrix.openstack_version }}
            enable_plugin magnum https://opendev.org/openstack/magnum ${{ matrix.openstack_version }}
            GLANCE_LIMIT_IMAGE_SIZE_TOTAL=5000
            SWIFT_MAX_FILE_SIZE=5368709122
            KEYSTONE_ADMIN_ENDPOINT=true
          enabled_services: 'h-eng,h-api,h-api-cfn,h-api-cw'
      - name: Checkout go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.15'
      - name: Run Gophercloud acceptance tests
        run: ./script/acceptancetest
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          ACCEPTANCE_TESTS_FILTER: "^.*containerinfra.*$"
      - name: Generate logs on failure
        run: ./script/collectlogs
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: functional-containerinfra-${{ matrix.name }}
          path: /tmp/devstack-logs/*
