name: functional-sharedfilesystems
on:
  pull_request:
    paths:
      - '**sharedfilesystems**'
  schedule:
    - cron: '0 0 * * *'
jobs:
  functional-sharedfilesystems:
    strategy:
      fail-fast: false
      matrix:
        name: ["master"]
        openstack_version: ["master"]
        ubuntu_version: ["20.04"]
        include:
          - name: "yoga"
            openstack_version: "stable/yoga"
            ubuntu_version: "20.04"
          - name: "xena"
            openstack_version: "stable/xena"
            ubuntu_version: "20.04"
          - name: "wallaby"
            openstack_version: "stable/wallaby"
            ubuntu_version: "20.04"
          - name: "victoria"
            openstack_version: "stable/victoria"
            ubuntu_version: "20.04"
          - name: "ussuri"
            openstack_version: "stable/ussuri"
            ubuntu_version: "18.04"
          - name: "train"
            openstack_version: "stable/train"
            ubuntu_version: "18.04"
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: Deploy OpenStack ${{ matrix.name }} with Manila and run sharedfilesystems acceptance tests
    steps:
      - name: Checkout Gophercloud
        uses: actions/checkout@v3
      - name: Deploy devstack
        uses: EmilienM/devstack-action@v0.8
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            enable_plugin manila https://opendev.org/openstack/manila ${{ matrix.openstack_version }}
            # LVM Backend config options
            MANILA_SERVICE_IMAGE_ENABLED=False
            SHARE_DRIVER=manila.share.drivers.lvm.LVMShareDriver
            MANILA_ENABLED_BACKENDS=chicago,denver
            MANILA_BACKEND1_CONFIG_GROUP_NAME=chicago
            MANILA_BACKEND2_CONFIG_GROUP_NAME=denver
            MANILA_SHARE_BACKEND1_NAME=CHICAGO
            MANILA_SHARE_BACKEND2_NAME=DENVER
            MANILA_OPTGROUP_chicago_driver_handles_share_servers=False
            MANILA_OPTGROUP_denver_driver_handles_share_servers=False
            SHARE_BACKING_FILE_SIZE=32000M
            MANILA_DEFAULT_SHARE_TYPE_EXTRA_SPECS='snapshot_support=True create_share_from_snapshot_support=True revert_to_snapshot_support=True mount_snapshot_support=True'
            MANILA_CONFIGURE_DEFAULT_TYPES=True
            MANILA_INSTALL_TEMPEST_PLUGIN_SYSTEMWIDE=false
      - name: Checkout go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.15'
      - name: Run Gophercloud acceptance tests
        run: ./script/acceptancetest
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          ACCEPTANCE_TESTS_FILTER: "^.*sharedfilesystems.*$"
      - name: Generate logs on failure
        run: ./script/collectlogs
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: functional-sharedfilesystems-${{ matrix.name }}
          path: /tmp/devstack-logs/*
