# TODO(stephenfin): neutron-fwaas may support OVN now. If so, we can combine
# this job with the functional-networking job. See [1]
#
# [1] https://bugs.launchpad.net/neutron/+bug/1971958
name: functional-fwaas_v2
on:
  pull_request:
    paths:
      - 'openstack/auth_env.go'
      - 'openstack/client.go'
      - 'openstack/endpoint.go'
      - 'openstack/endpoint_location.go'
      - 'openstack/config/provider_client.go'
      - 'openstack/utils/choose_version.go'
      - 'openstack/utils/discovery.go'
      - '**networking/v2/extensions/fwaas_v2**'
      - '.github/workflows/functional-fwaas_v2.yaml'
  schedule:
    - cron: '0 0 */3 * *'
jobs:
  functional-fwaas_v2:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "master"
            openstack_version: "master"
            ubuntu_version: "24.04"
            additional_services: "openstack-cli-server"
          - name: "epoxy"
            openstack_version: "stable/2025.1"
            ubuntu_version: "24.04"
            additional_services: "openstack-cli-server"
          - name: "dalmatian"
            openstack_version: "stable/2024.2"
            ubuntu_version: "22.04"
            additional_services: "openstack-cli-server"
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: FWaaS_v2 on OpenStack ${{ matrix.name }}
    steps:
      - name: Checkout Gophercloud
        uses: actions/checkout@v5
      - name: Create additional neutron policies
        run: |
          mkdir /tmp/neutron-policies
          cat << EOF >> /tmp/neutron-policies/port_binding.yaml
          ---
          "create_port:binding:profile": "rule:admin_only or rule:service_api"
          "update_port:binding:profile": "rule:admin_only or rule:service_api"
          EOF
      - name: Deploy devstack
        uses: gophercloud/devstack-action@v0.19
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            enable_plugin neutron-fwaas https://opendev.org/openstack/neutron-fwaas ${{ matrix.openstack_version }}
            Q_AGENT=openvswitch
            Q_ML2_PLUGIN_MECHANISM_DRIVERS=openvswitch,l2population
            Q_ML2_PLUGIN_TYPE_DRIVERS=flat,gre,vlan,vxlan
            Q_ML2_TENANT_NETWORK_TYPE=vxlan
            Q_TUNNEL_TYPES=vxlan,gre

            [[post-config|\$NEUTRON_CONF]]
            [oslo_policy]
            policy_dirs = /tmp/neutron-policies
          enabled_services: 'q-svc,q-agt,q-dhcp,q-l3,q-meta,q-fwaas-v2,-cinder,-horizon,-tempest,-swift,-c-sch,-c-api,-c-vol,-c-bak,-ovn,-ovn-controller,-ovn-northd,-q-ovn-metadata-agent,${{ matrix.additional_services }}'
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Run Gophercloud acceptance tests
        run: |
          source ${{ github.workspace }}/script/stackenv
          make acceptance-networking
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./script/collectlogs
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-fwaas_v2-${{ matrix.name }}-${{ github.run_id }}
          path: /tmp/devstack-logs/*
