name: functional-image
on:
  pull_request:
    paths:
      - 'openstack/auth_env.go'
      - 'openstack/client.go'
      - 'openstack/endpoint.go'
      - 'openstack/endpoint_location.go'
      - 'openstack/config/provider_client.go'
      - 'openstack/utils/choose_version.go'
      - 'openstack/utils/discovery.go'
      - '**image**'
      - '.github/workflows/functional-image.yaml'
  schedule:
    - cron: '0 0 */3 * *'
jobs:
  functional-image:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "master"
            openstack_version: "master"
            ubuntu_version: "24.04"
          - name: "epoxy"
            openstack_version: "stable/2025.1"
            ubuntu_version: "24.04"
          - name: "dalmatian"
            openstack_version: "stable/2024.2"
            ubuntu_version: "22.04"
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: Glance on OpenStack ${{ matrix.name }}
    steps:
      - name: Checkout Gophercloud
        uses: actions/checkout@v5
      - name: Deploy devstack
        uses: gophercloud/devstack-action@v0.19
        with:
          branch: ${{ matrix.openstack_version }}
          enabled_services: "openstack-cli-server"
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Run Gophercloud acceptance tests
        run: |
          source ${{ github.workspace }}/script/stackenv
          make acceptance-image
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./script/collectlogs
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-image-${{ matrix.name }}-${{ github.run_id }}
          path: /tmp/devstack-logs/*
