name: functional-containerinfra
on:
  pull_request:
    paths:
      - '**containerinfra**'
  schedule:
    - cron: '0 0 */3 * *'
jobs:
  functional-containerinfra:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "master"
            openstack_version: "master"
            ubuntu_version: "22.04"
            devstack_conf_overrides: |
              enable_plugin magnum https://github.com/openstack/magnum master
              MAGNUMCLIENT_BRANCH=master
            additional_services: "openstack-cli-server"
          - name: "caracal"
            openstack_version: "stable/2024.1"
            ubuntu_version: "22.04"
            devstack_conf_overrides: |
              enable_plugin magnum https://github.com/openstack/magnum stable/2024.1
              MAGNUMCLIENT_BRANCH=stable/2024.1
            additional_services: ""
          - name: "bobcat"
            openstack_version: "stable/2023.2"
            ubuntu_version: "22.04"
            devstack_conf_overrides: |
              enable_plugin magnum https://github.com/openstack/magnum stable/2023.2
              MAGNUMCLIENT_BRANCH=stable/2023.2
            additional_services: ""
          - name: "antelope"
            openstack_version: "stable/2023.1"
            ubuntu_version: "22.04"
            devstack_conf_overrides: |
              enable_plugin magnum https://github.com/openstack/magnum stable/2023.1
              MAGNUMCLIENT_BRANCH=stable/2023.1
            additional_services: ""
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: Deploy OpenStack ${{ matrix.name }} with Magnum and run containerinfra acceptance tests
    steps:
      - name: Checkout Gophercloud
        uses: actions/checkout@v4
      - name: Deploy devstack
        uses: EmilienM/devstack-action@e82a9cbead099cba72f99537e82a360c3e319c69
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            enable_plugin barbican https://github.com/openstack/barbican ${{ matrix.openstack_version }}
            enable_plugin heat https://github.com/openstack/heat ${{ matrix.openstack_version }}
            GLANCE_LIMIT_IMAGE_SIZE_TOTAL=5000
            SWIFT_MAX_FILE_SIZE=5368709122
            KEYSTONE_ADMIN_ENDPOINT=true
            ${{ matrix.devstack_conf_overrides }}
          enabled_services: "h-eng,h-api,h-api-cfn,h-api-cw,${{ matrix.additional_services }}"
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.22'
      - name: Run Gophercloud acceptance tests
        run: ./script/acceptancetest
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          PACKAGE: "./internal/acceptance/openstack/containerinfra/..."
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./script/collectlogs
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-containerinfra-${{ matrix.name }}-${{ github.run_id }}
          path: /tmp/devstack-logs/*
