name: functional-fwaas_v2
on:
  pull_request:
    paths:
      - '**networking/v2/extensions/fwaas_v2**'
  schedule:
    - cron: '0 0 */3 * *'
jobs:
  functional-fwaas_v2:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "master"
            openstack_version: "master"
            ubuntu_version: "22.04"
            additional_services: "openstack-cli-server"
          - name: "caracal"
            openstack_version: "stable/2024.1"
            ubuntu_version: "22.04"
            additional_services: ""
          - name: "bobcat"
            openstack_version: "stable/2023.2"
            ubuntu_version: "22.04"
            additional_services: ""
          - name: "antelope"
            openstack_version: "stable/2023.1"
            ubuntu_version: "22.04"
            additional_services: ""
    runs-on: ubuntu-${{ matrix.ubuntu_version }}
    name: Deploy OpenStack ${{ matrix.name }} with enabled FWaaS_v2 and run networking acceptance tests
    steps:
      - name: Checkout Gophercloud
        uses: actions/checkout@v4
      - name: Deploy devstack
        uses: EmilienM/devstack-action@e82a9cbead099cba72f99537e82a360c3e319c69
        with:
          branch: ${{ matrix.openstack_version }}
          conf_overrides: |
            enable_plugin neutron-fwaas https://opendev.org/openstack/neutron-fwaas ${{ matrix.openstack_version }}
            Q_AGENT=openvswitch
            Q_ML2_PLUGIN_MECHANISM_DRIVERS=openvswitch,l2population
            Q_ML2_PLUGIN_TYPE_DRIVERS=flat,gre,vlan,vxlan
            Q_ML2_TENANT_NETWORK_TYPE=vxlan
            Q_TUNNEL_TYPES=vxlan,gre
          enabled_services: 'q-svc,q-agt,q-dhcp,q-l3,q-meta,q-fwaas-v2,-cinder,-horizon,-tempest,-swift,-c-sch,-c-api,-c-vol,-c-bak,-ovn,-ovn-controller,-ovn-northd,-q-ovn-metadata-agent,${{ matrix.additional_services }}'
      - name: Checkout go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.22'
      - name: Run Gophercloud acceptance tests
        run: ./script/acceptancetest
        env:
          DEVSTACK_PATH: ${{ github.workspace }}/devstack
          PACKAGE: "./internal/acceptance/openstack/networking/v2/extensions/fwaas_v2/..."
          OS_BRANCH: ${{ matrix.openstack_version }}
      - name: Generate logs on failure
        run: ./script/collectlogs
        if: failure()
      - name: Upload logs artifacts on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: functional-fwaas_v2-${{ matrix.name }}-${{ github.run_id }}
          path: /tmp/devstack-logs/*
