name: Linters
on:
  - merge_group
  - push
  - pull_request
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Gophercloud
        uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: '1'
      - name: Run linters
        run: |
          make lint
      - name: Ensure go.mod is up-to-date
        run: |
          if [ $(go mod tidy -diff | wc -l) -gt 0 ]; then git diff && exit 1; fi
