on: [push, pull_request]
name: Unit Testing
permissions:
  contents: read

jobs:
  test:
    permissions:
      checks: write  # for coverallsapp/github-action to create a new check based on the results
      contents: read  # for actions/checkout to fetch code
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - "1.14"
          - "1"

    env:
      GO111MODULE: "on"

    steps:
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v3

      - name: Setup environment
        run: |
          # Changing into a different directory to avoid polluting go.sum with "go get"
          cd "$(mktemp -d)"
          go mod init unit_tests

          # we use "go get" for Go v1.14
          go install github.com/wadey/gocovmerge@master || go get github.com/wadey/gocovmerge
          go install golang.org/x/tools/cmd/goimports@latest || go get golang.org/x/tools/cmd/goimports@v0.8.0

      - name: Run go vet
        run: |
          go vet ./...

      - name: Run unit tests
        run: |
          ./script/coverage
          ./script/format
          ./script/unittest -v

      - name: Coveralls Parallel
        uses: coverallsapp/github-action@v2
        with:
          file: cover.out
          flag-name: Go-${{ matrix.go-version }}
          parallel: true

  finish:
    permissions:
      checks: write  # for coverallsapp/github-action to create a new check based on the results
    needs: test
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@v2
      with:
        parallel-finished: true
        carryforward: Go-${{ join(matrix.go-version.*, '-') }}
